<div class="container">
  <%= form_with(url: products_path, method: :get, class: "text-center my-5") do |f| %>
    <%= f.label :keyword, "検索商品：" %>
    <%= f.text_field :keyword, value: "#{@keyword}", placeholder: "キーワード" %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th class="col-1"></th>
        <th class="col-1">イメージ</th>
        <th>商品名</th>
        <th>値段(円)</th>
      </tr>
    </thead>
    <% if @items %>
      <% @items.each do |item| %>
        <tbody>
          <tr>
            <td class="align-middle">
              <%= link_to "保存", saveitems_path(item_code: item['itemCode'], image_url: item['smallImageUrls'][0], url: item['itemUrl'], name: item['itemName'], price: item['itemPrice']), method: :post, class: "btn btn-primary btn-sm" %>
            </td>
            <td><img src="<%= item['smallImageUrls'][0] %>"></td>
            <td><a href="<%= item['itemUrl'] %>" target="_blank"><%= item['itemName'] %></a></td>
            <td class="align-middle"><%= item['itemPrice'] %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
</div>
